<ngx-loading-bar [height]="'7px'" [color]="'orange'" [includeSpinner]="false"></ngx-loading-bar>
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" routerLink="employee" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span routerLink="employee">EMS</span>
  <span class="example-spacer"></span>
  <button routerLink="employee" mat-raised-button color="primary" style="margin-right: 30px;">Employee</button>
  <button routerLink="attendence1" mat-raised-button color="primary" style="margin-right: 30px;">Attendence</button>
  <button routerLink="leave" mat-raised-button color="primary" style="margin-right: 30px;">Leave</button>
  <button routerLink="expenses" mat-raised-button color="primary" style="margin-right: 55px;">Expenses</button>

  <button mat-raised-button color="warn" (click)=logout()>LogOut</button>
</mat-toolbar>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
