
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput placeholder="name" formControlName="category">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>From date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="fromDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>Remark</mat-label>
      <input matInput formControlName="remark" required>
    </mat-form-field>

  <!-- <mat-form-field appearance="outline">

  </mat-form-field> -->





<div mat-dialog-action [align]="'end'">
  <button mat-button mat-dialog-close mat-flat-button>Cancel</button>
  <button mat-raised-button color="primary" (click)="addExpenseDetails()">{{actionBtn}}</button>
</div>
